[Bb]in/
[Ll]ib/
!packages/**
!Elision/packages/**
!ui/core/**
[Oo]bj/
TestResults/
_ReSharper.*/
PrecompiledWeb/
_Secure/
tmp/
temp/
T4RenderCache/
node_modules
ui/public
ui/trans
BuiltFiles_*.txt
license.xml

*.suo
*.user
*.swp
*.vspscc
*.vssscc
*.bak
*.[Cc]ache
*.sitecore

Thumbs.db
.DS_Store
.sass-cache/
.vs/
~$*

/sitecore/*.dll
/src/Package_ALPHA
/src/UpgradeLog*
/src/debug
/src/_UpgradeReport_Files

*.sublime-project
*.sublime-workspace
