<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    
    <scheduling>
      <agent type="Elision.Publishing.PublishAgent, Elision.Publishing" method="Run" interval="00:20:00"
             patch:instead="*[@type='Sitecore.Tasks.PublishAgent']">
        <param desc="source database">master</param>
        <param desc="target database">web</param>
        <param desc="mode (full or smart or incremental)">smart</param>
        <param desc="username (to impersonate when publishing, including domain)"></param>
      </agent>
    </scheduling>

    <pipelines>
      <publish>
        <processor type="Elision.Publishing.PublishPipelineHtmlCacheClearer, Elision.Publishing" />
      </publish>
      <!--<publishItem>
        <processor type="Elision.Publishing.PerformAction, Elision.Publishing"
                   patch:instead="*[@type='Sitecore.Publishing.Pipelines.PublishItem.PerformAction, Sitecore.Kernel']"/>
      </publishItem>-->
    </pipelines>
    
    <events>
      <event name="publish:end">
        <!--<handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <patch:delete />
        </handler>-->
      </event>
      <event name="publish:end:remote">
        <handler type="Elision.Publishing.RemoteHtmlCacheClearer, Elision.Publishing" method="ClearRemoteCache"
                 patch:instead="*[@type='Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel']" />
      </event>
    </events>

    <sites>
      <site name="website" set:contentManaged="true" />
    </sites>
    
  </sitecore>
</configuration>
