<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.getXmlBasedLayoutDefinition>
        <processor type="Elision.CascadingRenderings.AddCascadedRenderings, Elision.CascadingRenderings"
                   patch:before="*[last()]" />
      </mvc.getXmlBasedLayoutDefinition>

      <getChromeData>
        <processor type="Elision.CascadingRenderings.GetCascadedRenderingChromeData, Elision.CascadingRenderings"
                   patch:after="processor[@type='Sitecore.Pipelines.GetChromeData.GetRenderingChromeData, Sitecore.Kernel']"/>
        <processor type="Elision.CascadingRenderings.GetCascadedPlaceholderChromeData, Elision.CascadingRenderings"
                   patch:after="processor[last()]"/>
      </getChromeData>
    
    </pipelines>

    <commands>
      <command name="deg:placeholder:cascade" type="Elision.CascadingRenderings.CascadePlaceholderCommand, Elision.CascadingRenderings"/>
      <command name="deg:placeholder:uncascade" type="Elision.CascadingRenderings.UncascadePlaceholderCommand, Elision.CascadingRenderings"/>
    </commands>
    
  </sitecore>
</configuration>