<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <events>
      <event name="item:saved">
        <handler type="Elision.Search.LuceneProvider.Analyzers.SearchSynonymCacheClearer, Elision.Search" method="OnItemSaved" />
      </event>
      <event name="item:saved:remote">
        <handler type="Elision.Search.LuceneProvider.Analyzers.SearchSynonymCacheClearer, Elision.Search" method="OnItemSavedRemote" />
      </event>
    </events>
    
    <!-- CMS Managed SynonymAnalyzer for ContentSearch
    This config snippet shows how you might enable Search Synonyms for an index.
    
    <indexConfigurations>
      <defaultLuceneIndexConfiguration>
        <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.PerExecutionContextAnalyzer, Sitecore.ContentSearch.LuceneProvider">
          <param desc="defaultAnalyzer" type="Sitecore.ContentSearch.LuceneProvider.Analyzers.DefaultPerFieldAnalyzer, Sitecore.ContentSearch.LuceneProvider">
            <param desc="defaultAnalyzer" type="Sitecore.ContentSearch.LuceneProvider.Analyzers.SynonymAnalyzer, Sitecore.ContentSearch.LuceneProvider"
                   patch:instead="*[@desc='defaultAnalyzer']">
              <param hint="engine" type="Elision.Search.LuceneProvider.Analyzers.SitecoreSynonymEngine, Elision.Search">
                <param hint="synonymItemFolder">/sitecore/content/Settings/SearchSynonyms</param>
                <param hint="database">web</param>
              </param>
            </param>
          </param>
        </analyzer>
      </defaultLuceneIndexConfiguration>
    </indexConfigurations>
    -->

    <!--
    This config snippet shows how to enable parsing keywords from rendering components on a page for inclusion in the "content" index field.
    
    <indexConfigurations>
      <defaultLuceneIndexConfiguration>
        <fields hint="raw:AddComputedIndexField">
          <field fieldName="_content" storageType="no" indexType="tokenized">Elision.Search.ComputedFields.ComponentsContentField, Elision.Search</field>
        </fields>
      </defaultLuceneIndexConfiguration>
    </indexConfigurations>
    -->

    <settings>
      <setting name="DEG.SearchSynonymCacheMaxSize" value="25MB" />
    </settings>

  </sitecore>
</configuration>
