<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      
      <initialize>
        <processor type="Elision.Mvc.InitializeRoutes, Elision.Mvc"
                   patch:instead="*[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"/>
        <processor type="Elision.Mvc.InitializeControllerFactory, Elision.Mvc"
                   patch:after="*[last()]"/>
        <processor type="Elision.Mvc.InitializeValueProviderFactories, Elision.Mvc"
                   patch:after="*[last()]"/>
      </initialize>

      <mvc.renderRendering>
        <processor type="Sitecore.Mvc.Pipelines.Response.RenderRendering.ResolveArea, Sitecore.Mvc">
          <param desc="areaResolver" type="Sitecore.Mvc.Pipelines.Response.RenderRendering.ChainedAreaResolveStrategy, Sitecore.Mvc">
            <Resolvers hint="list">
              <resolver type="Elision.Mvc.GetAreaAndNamespaces.GetAreaFromViewRenderingPath, Elision.Mvc"/>
              <resolver type="Elision.Mvc.GetAreaAndNamespaces.GetAreaByRenderingFolder, Elision.Mvc"/>
              <resolver ref="Elision.Mvc.GetAreaAndNamespaces.GetAreaByTheme, Elision.Mvc" factory="ElisionObjectFactory" type="1"/>
            </Resolvers>
          </param>
        </processor>
        <processor type="Elision.Mvc.GetAreaAndNamespaces.InferNamespacesByArea, Elision.Mvc"
            patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ResolveArea, Sitecore.Mvc']" />
      </mvc.renderRendering>

      <mvc.getControllerRenderingValueParameters>
        <processor type="Elision.Mvc.GetControllerRenderingValueParameters.AddSitecoreContextParameters, Elision.Mvc" />
        <processor type="Elision.Mvc.GetControllerRenderingValueParameters.AddRenderingParameters, Elision.Mvc" />
      </mvc.getControllerRenderingValueParameters>
      
    </pipelines>
  </sitecore>
</configuration>