<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      
      <event name="item:added">
        <!-- Updates all references in the created tree to no longer point to the bucket items, but instead to point to the newly created copy. -->
        <handler type="Elision.ContentEditor.UpdateReferences.AddFromTemplate, Elision.ContentEditor" method="OnItemAdded" />
      </event>
      
    </events>

    <processors>
      
      <uiDuplicateItem>
        <processor mode="on" type="Elision.ContentEditor.UpdateReferences.DuplicateItem, Elision.ContentEditor" method="Execute"
                   patch:instead="*[@type='Sitecore.Buckets.Pipelines.UI.ItemDuplicate, Sitecore.Buckets' and @method='Execute']" />
      </uiDuplicateItem>

      <uiCopyItems>
        <processor mode="on" type="Elision.ContentEditor.UpdateReferences.CopyOrCloneItem, Elision.ContentEditor" method="ProcessFieldValues" />
      </uiCopyItems>

      <uiCloneItems>
        <processor mode="on" type="Elision.ContentEditor.UpdateReferences.CopyOrCloneItem, Elision.ContentEditor" method="ProcessFieldValues" />
      </uiCloneItems>

    </processors>
    
    <settings>
      
      <setting name="ItemCloning.NonInheritedFields">
        <patch:attribute name="value">__Renderings|__Final Renderings</patch:attribute>
      </setting>
      
    </settings>
  </sitecore>
</configuration>
